.tox/
.hypothesis/
__pycache__/
.cache/
/todo*/
bsv
csv
rcut
_csv
_gen_csv
_read
_write
bucket
bdedupe
bcut
bbucket
bcounteach
bsort
bdisjoint
bdropuntil
_copy
_gen_csv_c
xxh3
bsplit
bpartition
bcat
btake
btakeuntil
sums
bsum
